<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.school.test.dao.WishListDAO">

	
	<insert id="insertWishList" parameterType="WishList">
	INSERT INTO wishlist2
	VALUES 
	( #{userid}, #{schoolnum})
 	</insert>
	
	
</mapper>






